body {
  margin: 100px 100px 100px 100px;
  font-family:Courier;
}

.footer{
  float : right;
  padding-top: 10px;
}

.icon{
  display: inline-block;
  width: 2em;
  height: 2em;
  stroke-width: 0;
  stroke: black;
  cursor:pointer;
  padding: 0px 10px 10px 0px;
}

.icon-small{
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: black;
  cursor:pointer;
}

.header{
    white-space: nowrap;
    overflow: hidden;
    font-size: x-large;
}

.subheader{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}

a {
  color: #708090;
  padding-right: 10px;
}

a:visited{
  color:#696969;
}

a:hover {
  color: #2F4F4F;
}

.container{
  border-top: solid;
  border-bottom: solid;
  padding-bottom: 20px;
  padding-top: 20px;
}

.floated{
    float: left;
    padding: 18px 10px 0 0;
    width: 180px;
    height: 190px;
    display: block;
}
