body {
  margin: 100px 100px 100px 100px;
  font-family:Courier;
}

.header{
  font-size: x-large;
}

.icon{
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: black;
  fill: black;
}

.header > a {
    width: 5%;
    padding: 12px 0;
    float: right;
    transition: all 0.3s ease;
    color: white;
}

.header > a:hover {
    background-color: #fff;
}

a {
  color: #708090;
}
a:visited{
  color:#696969;
}
a:hover {
  color: #2F4F4F;
}

.header{
    white-space: nowrap;
    overflow: hidden;
}

.subheader{
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight:bold;
}


.floated{
    float: right;
    width: 150px;
    filter: grayscale(50%);
}
